<%- include('../partials/header_meta', { title: 'Admin Dashboard' }) %>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
   
    <%- include('../partials/navbar_admin_lte') %>
  
    <%- include('../partials/aside_bar') %>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard Friday 1.0</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard Friday 1.0</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              
  
              <div class="card">
                <div class="card-header border-0">
                  <h3 class="card-title">Members</h3>
                  <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-sm">
                      <i class="fas fa-download"></i>
                    </a>
                    <a href="#" class="btn btn-tool btn-sm">
                      <i class="fas fa-bars"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body table-responsive p-0">
                  <table class="table table-striped table-valign-middle">
                    <thead>
                    <tr>
                      <th>House Name</th>
                      <th>Price/Hour</th>
                      <th>More</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                        <img src="../dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                        House 1
                      </td>
                      <td>$13 USD</td>
                    
                      <td>
                        <a href="#" class="text-muted">
                          <i class="fas fa-search"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src="../dist/img/default-150x150.png" alt="House 2" class="img-circle img-size-32 mr-2">
                        House 2
                      </td>
                      <td>$21 USD</td>
                     
                      <td>
                        <a href="#" class="text-muted">
                          <i class="fas fa-search"></i>
                        </a>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <img src="../dist/img/default-150x150.png" alt="Amazing House" class="img-circle img-size-32 mr-2">
                        Amazing House
                      </td>
                      <td>$10 USD</td>
                     
                      <td>
                        <a href="#" class="text-muted">
                          <i class="fas fa-search"></i>
                        </a>
                      </td>
                    </tr>
                   
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
              
              <div class="card">
                <div class="card-header border-0">
                  <h3 class="card-title">Customer</h3>
                  <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-sm">
                      <i class="fas fa-download"></i>
                    </a>
                    <a href="#" class="btn btn-tool btn-sm">
                      <i class="fas fa-bars"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body table-responsive p-0">
                  <table class="table table-striped table-valign-middle">
                    
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Reg Date</th>
                        <th>More</th>
                      </tr>
                    </thead>

                    <tbody>
                      
                      <tr>
                        
                        <td>
                          <img src="../dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                          House 1
                        </td>

                        <td>$13 USD</td>
                      
                        <td>
                          <a href="#" class="text-muted">
                            <i class="fas fa-search"></i>
                          </a>
                        </td>

                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.card -->

            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  
    <%- include('../partials/software_version') %>    
  </div>
  <!-- ./wrapper -->
    
</body>
<%- include('../partials/footer_admin_lte_script') %>
<%- include('../partials/footer') %>
